{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_terms{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12 col-lg-8">
    <p>
      &larr; <a href="{% url "maps:create" %}">Back to homepage</a>
    </p>

    <h1>
      Terms of service
    </h2>

    <p>
      Please read these Terms of Service ("Terms", "Terms of Service")
      carefully before using ethermap (the "Service") operated by Ethermap
      ("us", "we", or "our").
    </p>
    <p>
      Your access to and use of the Service is conditioned on your acceptance of
      and compliance with these Terms. These Terms apply to all visitors, users and
      others who access or use the Service.  By accessing or using the Service you
      agree to be bound by these Terms. If you disagree with any part of the terms
      then you may not access the Service.
    </p>

    <h3>
      Links To Other Web Sites
    </h3>

    <p>
      Our Service may contain links to third­party web sites or services that are
      not owned or controlled by ethermap.
    </p>
    <p>
      ethermap has no control over, and assumes no responsibility for, the
      content, privacy policies, or practices of any third party web sites or
      services. You further acknowledge and agree that ethermap shall not be
      responsible or liable, directly or indirectly, for any damage or loss caused
      or alleged to be caused by or in connection with use of or reliance on any
      such content, goods or services available on or through any such web sites or
      services.
    </p>
    <p>
      We strongly advise you to read the terms and conditions and privacy policies
      of any third­party web sites or services that you visit.
    </p>

    <h3>
      Governing Law
    </h3>

    <p>
      These Terms shall be governed and construed in accordance with the laws of
      England &amp; Wales, without regard to its conflict of law provisions.
    </p>

    <p>
      Our failure to enforce any right or provision of these Terms will not be
      considered a waiver of those rights. If any provision of these Terms is held
      to be invalid or unenforceable by a court, the remaining provisions of these
      Terms will remain in effect. These Terms constitute the entire agreement
      between us regarding our Service, and supersede and replace any prior
      agreements we might have between us regarding the Service.
    </p>

    <h3>
      Changes
    </h3>

    <p>
      We reserve the right, at our sole discretion, to modify or replace these
      Terms at any time. If a revision is material we will try to provide at
      least 30 (change this) days notice prior to any new terms taking effect.
      What constitutes a material change will be determined at our sole
      discretion.
    </p>

    <hr>

    <p>
      &larr; <a href="{% url "maps:create" %}">Back to homepage</a>
    </p>
  </div>
</div>
{% endblock%}
