{% extends "base/generic_base.html" %}

{% block body_classes %}{{ block.super }} f_base{% endblock %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="container alert alert-{% if message.tags == "error" %}danger {% else %}{{ message.tags }}{% endif %}">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

{% block container %}
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="https://gitlab.com/ethermap/ethermap/issues" target="_new">Report an issue</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{% url "static:terms" %}">Terms of service</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{% url "static:privacy" %}">Privacy policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">
          Credits: <a href="https://leafletjs.com/">Leaflet.js</a> &amp;
          <a href="https://learnosm.org/en/">OpenStreetMap</a>.
          <br>
          &copy; Copyright &copy; 2018&mdash;{% now "Y" %} <a href="https://chris-lamb.co.uk" target="_new">Chris Lamb</a>.
          <br>
          <span class="d-sm-none">
            Released under the
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_new">GNU AGPL</a>.
          </span>
          <span class="d-none d-sm-inline">
            Released under the terms of the
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_new">GNU Affero General Public License</a>.
          </span>
          <a href="https://gitlab.com/ethermap/ethermap" target="_new">(Source)</a>
        </p>
      </div>
      <div class="col-lg-4 h-100 text-center text-lg-right my-auto d-none d-sm-block">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_new">
              <img src="{% static "img/f_base/agplv3.png" %}">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
