<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="origin" />

  <title>{% block title %}ethermap{% endblock %}</title>

  {% block css %}
  <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  <link href="{% static "css/landing-page.css" %}" rel="stylesheet" media="screen" />
  <link href="{% static "css/ethermap.css" %}" rel="stylesheet" media="screen" />

  <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/simple-line-icons/css/simple-line-icons.css "%}" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block extrahead %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}" {% block body_extra %}{% endblock %}>
  {% block body %}{% endblock %}

  {% block script %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.bundle.js" %}"></script>
  <script src="{% static "js/ethermap.js" %}"></script>
  {% endblock %}
</body>
</html>
