{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_maps_create{% endblock %}

{% block title %}{{ block.super }}: Create and share maps with your friends{% endblock %}

{% block container %}

{% if form.non_field_errors %}
<div class="has-error">
  {% for x in form.non_field_errors %}
  <p class="help-block">{{ x }}</p>
  {% endfor %}
</div>
{% endif %}

<nav class="navbar navbar-light bg-light static-top d-none d-sm-block">
  <div class="container">
    <a class="navbar-brand" href="{% url "maps:create" %}"><i class="icon-map m-auto pr-3"></i>Ethermap</a>
  </div>
</nav>

<header class="masthead text-white text-center" style="background-image: url('{% static "img/f_maps_create/masthead.jpg" %}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          Create and share maps with your&nbsp;friends
        </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

        <form
          method="POST"
          class="form-horizontal text-center"
          action=""
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
        >
          {% csrf_token %}

            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input
                  id="{{ form.title.id_for_label }}"
                  type="text"
                  class="form-control form-control-lg text-center {% if form.errors %}{% if form.errors.title %}is-invalid{% else %}{% if not form.non_field_errors %}is-valid{% endif %}{% endif %}{% endif %}"
                  name="{{ form.title.html_name }}"
                  value=""
                  maxlength="{{ form.title.field.max_length|default:"" }}"
                  placeholder="Enter map name (optional)"
                >
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Create&nbsp;map</button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group col-md-12">
                  {% for x in form.errors.name %}
                    <div class="invalid-feedback">{{ x }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-location-pin m-auto text-primary"></i>
          </div>
          <h3>Your favourite places</h3>
          <p class="lead mb-0">
            Share potential housing locations, holiday plans, or simply map
            your favourite coffee shops, bars &amp;&nbsp;restaurants.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-share m-auto text-primary"></i>
          </div>
          <h3>Edit with friends</h3>
          <p class="lead mb-0">
            Easily share your map with friends so they can edit with you;
            simply give them the URL over email or instant&nbsp;messenger.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-lock m-auto text-primary"></i>
          </div>
          <h3>Read-only maps</h3>
          <p class="lead mb-0">
            Add an optional password to your map to limit editing to those you
            want to. To create a totally private map, simply create a map with
            an unguessable&nbsp;name.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "img/f_maps_create/bg-registration.jpg" %}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>No registration required</h2>
        <p class="lead mb-0">
          There is no need to signup to use Ethermap. Anyone from anywhere in
          the world can instantly start creating, viewing and sharing maps.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static "img/f_maps_create/bg-advertisements.jpg" %}');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Zero advertisements</h2>
        <p class="lead mb-0">
          Ethermap has no adverts and never will have, it's just a financially
          sustainable service that is provided free-of-charge to improve the
          world. Also, without advertisements, there is also no need for
          Ethermap to track or store data about you.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static "img/f_maps_create/bg-code.jpg" %}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>100% free, open and auditable</h2>
        <p class="lead mb-0">
          Ethermap is free software. It is free to use for everyone and free to
          use for any purpose, including commercially. Ethermap is also free to
          share with others, free to study
          <a href="https://gitlab.com/ethermap/ethermap" target="_new">Ethermap's source code</a>
          and even free to make your own versions and modifications.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action text-white text-center" style="background-image: url('{% static "img/f_maps_create/masthead.jpg" %}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Create your map now&hellip;</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form
          method="POST"
          class="form-horizontal text-center"
          action=""
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
        >
          {% csrf_token %}

            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input
                      id="{{ form.name.id_for_label }}"
                      type="text"
                      class="form-control form-control-lg text-center {% if form.errors %}{% if form.errors.name %}is-invalid{% else %}{% if not form.non_field_errors %}is-valid{% endif %}{% endif %}{% endif %}"
                      name="{{ form.name.html_name }}"
                      value=""
                      maxlength="{{ form.name.field.max_length|default:"" }}"
                      placeholder="Map name (optional)"
                    >
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Create&nbsp;map</button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group col-md-12">
                  {% for x in form.errors.name %}
                    <div class="invalid-feedback">{{ x }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>


{% endblock%}
