{% extends "maps/view.html" %}

{% block body_classes %}{{ block.super }} f_maps_edit{% endblock %}

{% block rightnav %}

  <div class="nav-item mr-md-2 mt-1 mt-sm-0">
    <button
      type="button"
      data-url="{% url "maps:xhr-settings" map.slug %}"
      class="btn btn-block btn-secondary js-settings"
      title="Map settings (x)"
    >Map settings</button>
  </div>
  <div class="nav-item mr-md-2 mt-1 mt-sm-0">
    <button
      data-url="{% url "maps:xhr-save-center" map.slug %}"
      data-default="Save current view"
      data-saving="Saving&hellip;"
      data-saved="Saved"
      type="button"
      class="nav-item btn btn-block btn-secondary js-save-center"
      title="Save current view (c)"
    >Save current view</button>
  </div>
  <div class="nav-item mr-md-2 mt-1 mt-sm-0">
    <button
      type="button"
      class="btn btn-block btn-secondary"
      data-toggle="modal" data-target="#share-modal"
      title="Share (S)"
    >Share<span class="d-inline d-sm-none"> map</span></button>
  </div>
  <div class="nav-item mr-md-2 mt-1 mt-sm-0">
    <button
      type="button"
      class="btn btn-block btn-secondary"
      data-toggle="modal" data-target="#about-modal"
      title="About (?)"
    >About <span class="d-inline d-sm-none"> Ethermap</span></button>
  </div>
  <div class="nav-item mr-md-2 mt-1 mt-sm-0">
    <button
      type="button"
      class="btn btn-block btn-secondary js-search"
      title="Search (s)"
    >Search</button>
  </div>
  <div class="nav-item mt-1 mt-sm-0">
    <button
      type="button"
      data-url="{% url "maps:markers:xhr-add" map.slug %}"
      data-default="&#x2795; Add marker"
      data-adding="Click to add a marker&hellip;"
      class="btn btn-block btn-primary js-add-marker"
      title="Add marker (a)"
    ><span class="d-none d-sm-inline">&#x2795; </span>Add marker</button>
  </div>
{% endblock %}
