<div class="marker">
  {% if marker.title %}
  <h6>{{ marker.title }}</h6>
  {% endif %}

  {{ marker.description|preprocess_markdown|markdown:"break-on-newline,nofollow" }}

  {% if show_edit_controls %}
  <div class="btn-group btn-group-sm">
    <a
      href="#"
      class="btn btn-primary js-edit-marker"
      data-url="{% url "maps:markers:xhr-edit" marker.map.slug marker.slug %}"
    >Edit</a>
    <a
      href="#"
      class="btn btn-danger js-delete-marker"
      data-url="{% url "maps:markers:xhr-delete" marker.map.slug marker.slug %}"
      data-confirm="Are you sure you wish to remove this marker?"
    >Delete</a>
    {% endif %}
  </div>
</div>
