<div class="modal fade" id="authenticate-modal" tabindex="-1" role="dialog" aria-labelledby="authenticate-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authenticate-modal-label">Enter map password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.password.id_for_label }}">
              Password
            </label>
            <input
              id="{{ form.password.id_for_label }}"
              type="password"
              class="form-control"
              name="{{ form.password.html_name }}"
              value="{{ form.password.value|default:"" }}"
              maxlength="{{ form.password.field.max_length|default:"" }}"
              placeholder=""
              {% if form.password.field.required %}required{% endif %}
            >
            <small class="form-text text-muted">
              Enter the map's password to be able to edit it. Anyone with the
              URL of this map can still view it.
            </small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button
          type="button"
          data-url="{% url "maps:xhr-authenticate" map.slug %}"
          class="btn btn-primary js-authenticate"
        >Authenticate</button>
      </div>
    </div>
  </div>
</div>
