<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-edit-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-edit-modal-title">
          {% if marker %}
            Edit marker
          {% else %}
            Add marker
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          method="POST"
          class=""
          action=""
          {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
        >
          {% csrf_token %}

          {% if not marker %}
          <input type="hidden" name="lat" value="">
          <input type="hidden" name="lng" value="">
          {% endif %}

          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.title.id_for_label }}">
              Title
            </label>
            <input
              id="{{ form.title.id_for_label }}"
              type="text"
              class="form-control"
              name="{{ form.title.html_name }}"
              value="{{ form.title.value|default:"" }}"
              maxlength="{{ form.title.field.max_length|default:"" }}"
              placeholder="Title (optional)"
              autocomplete="off"
              {% if form.title.field.required %}required{% endif %}
            >
          </div>

          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.description.id_for_label }}">
              Description
            </label>
            <textarea
              id="{{ form.description.id_for_label }}"
              rows="5"
              class="form-control"
              name="{{ form.description.html_name }}"
              placeholder="Description (optional)"
              autocomplete="off"
              {% if form.description.field.required %}required{% endif %}
            >{{ form.description.value|default:"" }}</textarea>
          </div>

          <div class="form-group row col-md-12">
            <label class="col-1 col-form-label" for="{{ form.icon.id_for_label }}">
              Icon
            </label>
            <div class="col-11">
              <select
                id="{{ form.icon.id_for_label }}"
                class="form-control {% if form.errors %}{% if form.errors.icon %}is-invalid{% else %}{% if not form.non_field_errors %}is-valid{% endif %}{% endif %}{% endif %}"
                name="{{ form.icon.html_name }}"
              >
                {% for val, display in form.icon.field.choices %}
                <option
                  value="{{ val }}"
                  {% if form.icon.value|stringformat:"s" == val|stringformat:"s" %}selected{% endif %}
                >{{ display }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        {% if marker %}
          <button
            type="button"
            class="btn btn-primary js-save-marker"
            data-url="{% url "maps:markers:xhr-edit" map.slug marker.slug %}"
            data-saving="Saving&hellip;"
            data-original="Save"
          >Save</button>
        {% else %}
          <button
            type="button"
            class="btn btn-primary js-save-marker"
            data-url="{% url "maps:markers:xhr-add" map.slug %}"
            data-saving="Saving&hellip;"
            data-original="Add marker"
          >Add marker</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
