<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-modal-label">Map settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="">
          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.title.id_for_label }}">
              Title
            </label>
            <input
              id="{{ form.title.id_for_label }}"
              type="text"
              class="form-control"
              name="{{ form.title.html_name }}"
              value="{{ form.title.value|default:"" }}"
              maxlength="{{ form.title.field.max_length|default:"" }}"
              placeholder="Enter an (optional) map name"
              {% if form.title.field.required %}required{% endif %}
            >
          </div>

          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.layer.id_for_label }}">
              Map colour scheme
            </label>
            <select
              id="{{ form.layer.id_for_label }}"
              class="form-control"
              name="{{ form.layer.html_name }}"
            >
              {% for val, display in form.layer.field.choices %}
              <option
                value="{{ val }}"
                {% if form.layer.value|stringformat:"s" == val|stringformat:"s" %}selected{% endif %}
              >{{ display }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-url="{% url "maps:xhr-password" map.slug %}"
          class="btn btn-outline-secondary js-password"
          title="Set password"
          {% if map.password %}disabled{% endif %}
        >Set password</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button
          type="button"
          class="btn btn-primary js-save-settings"
          data-url="{% url "maps:xhr-settings" map.slug %}"
        >Save settings</button>
      </div>
    </div>
  </div>
</div>
