<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-modal-label">Set password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          You can optionally set a password to your map so only you or your
          trusted friends can view or edit it.
        </p>

        <form method="POST" action="">
          <div class="form-group col-md-12">
            <label class="col-form-label" for="{{ form.password1.id_for_label }}">
              Password
            </label>
            <input
              id="{{ form.password1.id_for_label }}"
              type="password"
              class="form-control"
              name="{{ form.password1.html_name }}"
              value="{{ form.password1.value|default:"" }}"
              maxlength="{{ form.password1.field.max_length|default:"" }}"
              placeholder="Password"
              autocomplete="off"
              {% if form.password1.field.required %}required{% endif %}
            >
          </div>

          <div class="form-group col-md-12">
            <input
              id="{{ form.password2.id_for_label }}"
              type="password"
              class="form-control"
              name="{{ form.password2.html_name }}"
              value="{{ form.password2.value|default:"" }}"
              maxlength="{{ form.password2.field.max_length|default:"" }}"
              placeholder="Password (confirm)"
              autocomplete="off"
              {% if form.password2.field.required %}required{% endif %}
            >
          </div>

          <div class="form-group col-md-12">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input
                  id="{{ form.private.id_for_label }}"
                  type="checkbox"
                  name="{{ form.private.html_name }}"
                  class="form-check-input {% if form.errors %}{% if form.errors.private %}is-invalid{% else %}{% if not form.non_field_errors %}is-valid{% endif %}{% endif %}{% endif %}"
                  {% if form.private.value %}checked{% endif %}
                >
                Require password to view map.
                {% for x in form.errors.private %}
                  <div class="invalid-feedback">{{ x }}</div>
                {% endfor %}
              </label>
            </div>
          </div>

        </form>
        <p class="text-danger">
          Passwords cannot be changed or removed once added.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button
          type="button"
          class="btn btn-primary js-set-password"
          data-url="{% url "maps:xhr-password" map.slug %}"
        >Set password</button>
      </div>
    </div>
  </div>
</div>
